@layer base {
	button {
		@apply
			cursor-pointer pointer-events-auto
			hover:scale-105 transition-all duration-200 ease-in-out
			;
	}
	button:hover:not(:disabled) {
		@apply scale-105;
	}
	button:disabled {
		@apply opacity-50 cursor-default;
	}
}

@layer components {
	.btn-icon {
		@apply flex place-content-center place-items-center;
	}
	.btn-icon .svg-bg {
		@apply fill-n1 stroke-n2;
	}
	.btn-icon:active .svg-bg {
		@apply fill-b4 stroke-b5;
	}
	.btn-icon .svg-icon {
		@apply fill-b5;
	}
	.btn-icon:active .svg-icon {
		@apply fill-n0;
	}
	.btn-icon::after {
		content: attr(data-tip);
		@apply
			absolute z-10 top-15 origin-top
			border border-n2 rounded-3xl
			bg-n1
			px-5 py-2.5
			w-max text-n6 text-center
			/* prevent tooltip from flickering if mouse overlaps */
			pointer-events-none
			scale-0 opacity-0 transition-all ease-out duration-50
			;
	}
	.btn-icon:hover::after {
		@apply scale-100 opacity-100;
	}

	.btn-text {
		@apply
			bg-n6 active:bg-b5
			border-n5 active:border-b6 rounded-3xl
			text-n0
			min-w-30 w-62.5 min-h-5 h-12.5
			;
	}

	.btn-clear {
		@apply
			bg-none
			border-none
			text-a6 active:text-b5
			min-w-30 w-62.5 min-h-5 h-12.5
			;
	}

	.btn-lightbox {
		@apply
			-z-1 absolute w-full h-full
			backdrop-blur-sm bg-n0/50 hover:bg-n0/25
			;
	}

	.btn-dev {
		@apply text-r3
	}
}